.wrapper {
	display: flex;
	height: 100px;
	width: 100%;
}

#wrapper {
	display: flex;
	height: 100px;
	width: 100%;
}


.sidebar {
	background: #999;
	width: 30%;
}

.content {
	background: #2e6833;
	width: 70%;
}
